body {
    width: 70%;
    font-family: 'IBM Plex Serif', serif;
    margin: 0 auto;
  }
  
  header div {
    display: inline-block;
    margin-top: 2em;
    
  }
  
  h4 {
    font-family: 'Yellowtail', cursive;
    margin: 7px;
    font-size: 40px;
    padding: -7px -11px 29px 7px;
    height: 26px;
  }
  
  h5 {
    font-family: 'VT323', monospace; 
    color: grey;
    font-size: 13px;
    margin-left: 7px;
  
  }
  
  header ul {
  
    float: right;
    margin-top: 2.5em;
    margin-left: 10px;
  
  }
  
  header ul li {
    display: inline-block;
  
  }
  
  header ul:last-child {
    margin-left: 4em;
  }
  
  
    .hr.new5 {
      border: 10px solid gray;
      border-radius: 5px;
    }
  
  
  h1 {
    font-family: 'Francois One', sans-serif;
    margin-top: 1em;
    height: 25px;
    font-size: 33px;
  }
  
  h2 {
    font-family: 'VT323', monospace; 
    font-size: 13px;
    color: grey;
  }
  
  img.cakeshape {
    width: 820px;
  
  }
  
  .container{
    background: url('img/list-bg.png');
    position: relative;
    text-align: center;
    color: black;
  }

  .TABEL{
    font-family: 'Patrick Hand', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}
ul{
  list-style-type:none;
}
#column{
  text-align: left;
}
#column input {
  float: left;
}
  
  .print{    float: right;;
  margin-right: 0px;

    
  }


  #column1 {
  
    float: left;
  
    
  }



  #column2 {
  
    float: left;
  
  }


  
  main div form label {
    display: block;
  }
  
  p {
    text-indent: 30px;
    margin-top: 30px;
  
  }
  
  
  footer img {
    float: left;
}

footer button {
    float: right;
}

#footLogo { 
    border-middle: 10px ridge black;
}

#copyright {
    text-align: center;
    color: gray;
}